@font-face {
    font-family: 'Roboto';
    src: url("/fonts/roboto/roboto-thinitalic.eot");
    src: url("/fonts/roboto/roboto-thinitalic.eot?#iefix") format('embedded-opentype'),url("/fonts/roboto/roboto-thinitalic.woff") format('woff'),url("/fonts/roboto/roboto-thinitalic.ttf") format('truetype'),url("/fonts/roboto/roboto-thinitalic.svg#robotothin_italic") format('svg');
    font-weight: 200;
    font-style: italic
}

@font-face {
    font-family: 'Roboto';
    src: url("/fonts/roboto/roboto-thin.eot");
    src: url("/fonts/roboto/roboto-thin.eot?#iefix") format('embedded-opentype'),url("/fonts/roboto/roboto-thin.woff") format('woff'),url("/fonts/roboto/roboto-thin.ttf") format('truetype'),url("/fonts/roboto/roboto-thin.svg#robotothin") format('svg');
    font-weight: 200;
    font-style: normal
}

@font-face {
    font-family: 'Roboto';
    src: url("/fonts/roboto/roboto-light.eot");
    src: url("/fonts/roboto/roboto-light.eot?#iefix") format('embedded-opentype'),url("/fonts/roboto/roboto-light.woff") format('woff'),url("/fonts/roboto/roboto-light.ttf") format('truetype'),url("/fonts/roboto/roboto-light.svg#robotolight") format('svg');
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: 'Roboto';
    src: url("/fonts/roboto/roboto-lightitalic.eot");
    src: url("/fonts/roboto/roboto-lightitalic.eot?#iefix") format('embedded-opentype'),url("/fonts/roboto/roboto-lightitalic.woff") format('woff'),url("/fonts/roboto/roboto-lightitalic.ttf") format('truetype'),url("/fonts/roboto/roboto-lightitalic.svg#robotolight_italic") format('svg');
    font-weight: 300;
    font-style: italic
}

@font-face {
    font-family: 'Roboto';
    src: url("/fonts/roboto/roboto-regular.eot");
    src: url("/fonts/roboto/roboto-regular.eot?#iefix") format('embedded-opentype'),url("/fonts/roboto/roboto-regular.woff") format('woff'),url("/fonts/roboto/roboto-regular.ttf") format('truetype'),url("/fonts/roboto/roboto-regular.svg#robotoregular") format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'Roboto';
    src: url("/fonts/roboto/roboto-italic.eot");
    src: url("/fonts/roboto/roboto-italic.eot?#iefix") format('embedded-opentype'),url("/fonts/roboto/roboto-italic.woff") format('woff'),url("/fonts/roboto/roboto-italic.ttf") format('truetype'),url("/fonts/roboto/roboto-italic.svg#robotoitalic") format('svg');
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: 'Roboto';
    src: url("/fonts/roboto/roboto-medium.eot");
    src: url("/fonts/roboto/roboto-medium.eot?#iefix") format('embedded-opentype'),url("/fonts/roboto/roboto-medium.woff") format('woff'),url("/fonts/roboto/roboto-medium.ttf") format('truetype'),url("/fonts/roboto/roboto-medium.svg#robotomedium") format('svg');
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: 'Roboto';
    src: url("/fonts/roboto/roboto-mediumitalic.eot");
    src: url("/fonts/roboto/roboto-mediumitalic.eot?#iefix") format('embedded-opentype'),url("/fonts/roboto/roboto-mediumitalic.woff") format('woff'),url("/fonts/roboto/roboto-mediumitalic.ttf") format('truetype'),url("/fonts/roboto/roboto-mediumitalic.svg#robotomedium_italic") format('svg');
    font-weight: 600;
    font-style: italic
}

@font-face {
    font-family: 'Roboto';
    src: url("/fonts/roboto/roboto-bold.eot");
    src: url("/fonts/roboto/roboto-bold.eot?#iefix") format('embedded-opentype'),url("/fonts/roboto/roboto-bold.woff") format('woff'),url("/fonts/roboto/roboto-bold.ttf") format('truetype'),url("/fonts/roboto/roboto-bold.svg#robotobold") format('svg');
    font-weight: 800;
    font-style: normal
}

@font-face {
    font-family: 'Roboto';
    src: url("/fonts/roboto/roboto-bolditalic.eot");
    src: url("/fonts/roboto/roboto-bolditalic.eot?#iefix") format('embedded-opentype'),url("/fonts/roboto/roboto-bolditalic.woff") format('woff'),url("/fonts/roboto/roboto-bolditalic.ttf") format('truetype'),url("/fonts/roboto/roboto-bolditalic.svg#robotobold_italic") format('svg');
    font-weight: 800;
    font-style: italic
}

@font-face {
    font-family: 'Roboto';
    src: url("/fonts/roboto/roboto-black.eot");
    src: url("/fonts/roboto/roboto-black.eot?#iefix") format('embedded-opentype'),url("/fonts/roboto/roboto-black.woff") format('woff'),url("/fonts/roboto/roboto-black.ttf") format('truetype'),url("/fonts/roboto/roboto-black.svg#robotoblack") format('svg');
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: 'Roboto';
    src: url("/fonts/roboto/roboto-blackitalic.eot");
    src: url("/fonts/roboto/roboto-blackitalic.eot?#iefix") format('embedded-opentype'),url("/fonts/roboto/roboto-blackitalic.woff") format('woff'),url("/fonts/roboto/roboto-blackitalic.ttf") format('truetype'),url("/fonts/roboto/roboto-blackitalic.svg#robotoblack_italic") format('svg');
    font-weight: 900;
    font-style: italic
}

.img-fluid {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.form-group {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    display: table;
    table-layout: fixed;
}

thead {
    background-image: url("images/thead-background.png");
    color: white;
}

.title {
    background-image: url("images/thead-background.png");
    color: white;
    padding: 0.5em;
}

th {
    height: 4em;
    line-height: 4em;
    text-align: center;
}

td {
    vertical-align: middle;
    border: solid white;
    border-right-width: 1px;
    border-left-width: 1px;
}

td.name {
    font-weight: bolder;
}

tbody>tr:nth-child(even) {
}

.form-check-inline {
    padding-right: 3em;
}

.form-check-label {
    padding-left: 0.3em;
}

tr.ride {
    background-color: #c2e2ee;
}

tr.ride>td {
    background-color: #c2e2ee;
    padding-left: 3em;
    margin-left: 3em;
    color: #3161d6;
    border: 1px solid white;
}

tr.train {
    background-color: #c2e2ee;
}

tr.train>td {
    background-color: #c2e2ee;
    padding-left: 3em;
    margin-left: 3em;
    color: #3161d6;
    border: 1px solid white;
}


button.route-button {
    background-color: #244694;
}

.vehicle {
    border: black;
    background-color: #7ad6ff;
    border-radius: 5px;
    padding: 0.0em 0.4em;
    margin: 0.1em;
    white-space:nowrap;
}

.locomotive {
    border: black;
    background-color: #ffbf41;
    border-radius: 5px;
    padding: 0.0em 0.4em;
    margin-bottom: 0.1em;
    white-space:nowrap;
}

.draggableVehicle {
    border: black;
    background-color: #7ad6ff;
    border-radius: 5px;
    padding: 0.6em;
    margin: 0.2em;
    width: 20em;
    display: inline-block;
}

.draggableLocomotive {
    border: black;
    background-color: #ffbf41;
    border-radius: 5px;
    padding: 0.6em;
    margin: 0.2em;
    width: 20em;
    display: inline-block;
}

.divVehicle {
    display: inline;
    white-space: nowrap;
    padding-bottom: 5em;
}

.jumbotron {
    color: white;
    padding: 1rem 0.5rem;
    margin-bottom: 1rem;
    background-color: #e9ecef;
    border-radius: 0.3rem;
    background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(30,87,153,0.54) 46%, rgba(125,185,232,0.18) 82%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(30,87,153,0.54) 46%,rgba(125,185,232,0.18) 82%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(30,87,153,0.54) 100%,rgba(125,185,232,0.18) 82%,rgba(125,185,232,0) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
}

.row {
    color: white;
    font-family: 'Roboto';
}
