<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link href="/css/front.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<noscript>
  JavaScript is disabled. App will not run correctly.
</noscript>

<div id="hero"></div>
<script data-union-widget="hero" data-union-container="hero" type="application/json"></script>

<!--<div id="content"></div>
<script data-union-widget="content" data-union-container="content" type="application/json">
  {
    "textation": {
      "heading": "Welcome",
      "content": "This is a sample content passed by server."
    }
  }
</script>-->

<div id="routeOverview"></div>
<script data-union-widget="routeOverview" data-union-container="routeOverview" type="application/json"></script>

<div id="trainOverview"></div>
<script data-union-widget="trainOverview" data-union-container="trainOverview" type="application/json"></script>

<div id="trainsetOverview"></div>
<script data-union-widget="trainsetOverview" data-union-container="trainsetOverview" type="application/json"></script>

<div id="routeDetail"></div>
<script data-union-widget="routeDetail" data-union-container="routeDetail" type="application/json"></script>

<div id="trainsetDetail"></div>
<script data-union-widget="trainsetDetail" data-union-container="trainsetDetail" type="application/json">
  {
    "url": {
      "id": "4"
    }
  }
</script>

<div id="trainsetEditor"></div>
<script data-union-widget="trainsetEditor" data-union-container="trainsetEditor" type="application/json"></script>
</body>
</html>
